/* HEADER */

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;
	background-color: #255EE8;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
	font-weight: 400;
}

.header-nav>img, .header-nav>.header-links{
	flex-basis: 20%;
	padding: 5px 10px;
}

.header-links {
	display: inline-flex;
	flex-grow: 1;
	text-align: center;
	justify-content: center;
	gap: 5%;
	color: #F7F8FD;
}

.header-login {
	text-align: right;
	background-color: #F7F8FD;
	border-width: 0;
	border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
}

/* JUMBOTRON */

.jumbotron {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/jumbo.png);
	background-size: cover;
}

.jumbotron .content {
	display: flex;
	/*debug*/
	min-height: 47vh;
	color: #F7F8FD;
	text-align: center;
	justify-content: center;
}

.jumbotron .hero-text{
	width: 50%;
}

.jumbotron .cta-container{
	display: flex;
	margin-top: 2em;
	min-height: max-content;
	justify-content: center;
	gap: 2%;
}

.cta-container button{
	border-width: 0;
	border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
}
/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;
	justify-content: space-around;
	/* debug */
	min-height: 500px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: #F6F6F6;
}

.main-col img {
	flex-grow: 2;
}

.side-col {
	display: flex;
	flex-grow: 1;
	max-width: 30%;
	flex-direction: column;
	margin-top: 1.5em;
}


.hilighted-content {
	display: flex;
	flex-grow: 1;
	/* background-image: url(../img/stars.svg); */
}

/* FOOTER */

.footer-main {
	padding-top: 10px;


	/* debug */
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid purple;

	/* debug */
	min-height: 500px;
}

.footer-main-col {
	width: calc(100% / 3);

	/* debug */
	background-color: #f08080;
	border: 2px dashed black;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);

	/* debug */
	background-color: #20b2aa;
	border: 2px dashed black;
}

.footer-col {
	width: 25%;

	/* debug */
	background-color: #20b2aa;
	border: 2px dashed white;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

	/* debug */
	background-color: #7fffd4;
}

.footer-bottom>* {
	padding: 5px 10px;


	/* debug */
	background-color: #ffb6c1;
	border: 2px dashed black;
}